*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html,body{
    background-color:#48cae4;
    text-align: center;
  
}
.container{
    height:70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
   
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.9) ;
    font-size: 8vmin;
    color:#9f86c0 ;
    background-color: #ffff;
}
#reset{
    padding:1rem;
    font-size: 1.5rem;
    gap:2.3vmin;
    border:none;
    border-radius:0.5rem;
    background-color:#f2e8cf ;
    
    box-shadow:0 0 1rem rgba(0,0,0,0.9) ; ;
}
#newgame{
    padding:1rem;
    font-size: 1rem;
    gap:2.3vmin;
    border:none;
    border-radius:0.5rem;
    background-color:#f2e8cf ;
    margin-top: 3vmin;
    box-shadow:0 0 1rem rgba(0,0,0,0.9) ; ;
}
#msg{
    font-size: 4vmin;
    
}
.msg-container{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hide{
    display: none;
}